* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

html {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #1f2833;
    font-family: Courier, serif;
    height: 100%;
}

strong{
    color: #45a29e;
    font-size: 18px;
}

#root{
    min-height: 100%;
    height: 100%;
}
.App{
    min-height: 100%;
    height: 100%;
}
.home, .results{
    width: 80%;
    min-height: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}



h1{
    margin-top: 10%;
    color: #c5c6c7;
    font-size: 60px;
    cursor: pointer;
}

h3{
    color:white;
}

.survey-name{
    margin-bottom: 16px;
    font-size: 40px;
    color: #45a29e;
}

.free-text{
    width: 60%;
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    height: 34px;
    min-height: 34px;
}
.free-text__label{
    background-color: #45a29e;
    font-size: 18px;
    min-width: 160px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
.free-text__input{
    font-size: 1.2em;
    width: calc(100% - 176px);
    padding: 8px;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}

.choice{
    margin-bottom: 16px;
}

.width-60{
    width: 60%;
    margin-top: 8px;
}

.width-80{
    width: 80%;
    margin-top: 8px;
}
.width-60>.free-text{
    width:100%;
}
.group-name{
    margin-bottom: 4px;
    font-size: 24px;
    color: #45a29e;
    display: flex;
    justify-content: center;
    height: 24px;
    min-height: 24px;
}

.choice-name{
    background-color: #45a29e;
    font-size: 1.2em;
    min-width: 160px;
    padding: 8px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-top: 8px;
}

.choice.inline{
    display: inherit;
}
.choice.inline>.choice-name{
    background-color: #45a29e;
    font-size: 1.2em;
    min-width: 160px;
    padding: 8px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    margin-top: 0px;
}

.choice .selection .markdown {
    display: inline-block;
    width: calc(100% - 1em - 4px);
    border: solid 2px #45a29e;
    border-top: none;
    color: #ffffff;
    padding: 1em 0.5em;
    cursor: pointer;
    align-items: stretch;
}

.choice .selection .left {
    text-align: start;
}.choice .selection .center {
    text-align: center;
}

.choice.inline .selection{
    width:calc((100% - 160px)/3);
}

.choice.inline .selection .markdown {
    display: inline-block;
    border: solid 2px #45a29e;
    border-left: none;
    color: #ffffff;
    padding: 0.5em;
    cursor: pointer;
    text-align: -webkit-center;
}

.choice .selection .markdown:hover {
    background-color: #832433;
}

.choice .selection input[type=checkbox] {
    display: none;
}

.choice .selection input[type=checkbox]:checked ~ label .markdown {
    background-color: #336699;
}

.choice .selection input[type=radio] {
    display: none;
}

.choice .selection input[type=radio]:checked ~ label .markdown {
    background-color: #336699;
}

.matrix-selection {
    border-top: none;
    color: #ffffff;
    cursor: pointer;
    align-items: stretch;
    padding:0;
    margin: 0;
}
.matrix-cell{
    display: block;
    padding:4px;
    text-align: center;
    min-width:72px;
}
.matrix-selection > .matrix-cell:hover {
    background-color: #832433;
}

.matrix-selection input[type=radio]:checked ~ .matrix-cell {
    background-color: #336699;
}

.matrix-selection input[type=radio] {
    display: none;
}

.border-bottom{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.border-bottom-right{
    border-bottom-right-radius: 8px;
}

.border-bottom-left{
    border-bottom-left-radius: 8px;
}

.border-right{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.border-left{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}


.select-list {
    position: relative;
    width: calc(100% - 160px)
}
.select-list select {
    border: none;
    padding: 4px 20px 3px 5px;
    width: 100%;
    margin: 0;
    height: 100%;
    font-family: Courier;
    font-size: 16px;
    outline:none; /* remove focus ring from Webkit */
    line-height: 1.2;
    background: #fff;
    -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 0 8px 8px 0;
}

/* Select arrow styling */
.select-list:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    color: #555;
    pointer-events:none;
    padding:2px 25px;
}

.Survey{
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 20px;
}

.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.top-100{
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 100px;
}

.scale{
    display: inline-flex;
    width: 100%;
}

.selection.scale > label{
    width: 100%;
    font-size: 14px;
    display: flex;
}

.survey-select{
    width: 60%;
    margin: 16px auto 16px auto;
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: -webkit-center;
    font-size:1.8em;
    background-color: #45a29e;
    cursor: pointer;
    border-radius: 8px;
    color: white;
}

.button-submit{
    font-size:16px;
    display:inline-block;
    margin-bottom: 16px;
    padding:8px;
    background-color: #45a29e;
    border:none;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    font-family: Courier;
    height: 32px;
    min-height: 32px;
    cursor: pointer;
}

.button-submit:hover{
    background-color: #5fc0dc;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.bottom16{
    color: gray;
    margin: 16px;
}

.blank>.label{
    background-color: #ff6666;
}

.notice-red{
    color: #ff6666;
    font-size: 14px;
}

.insert-parent{
    display: inline-flex;
    width:100%;
}

.insert-id{
    font-size: 14px;
    width:60%;
    padding: 4px;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.insert-button{
    width: 40%;
    background-color: #45a29e;
    font-size: 14px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}


/*
* Table Styling
 */

.matrix-desktop{
    display: block;
}

.matrix-mobile{
    display: none;
}

.matrix-label{
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    display: block;
    line-height: 1em; /* a */
    max-height: 2em; /* a x number of line to show (ex : 2 line)  */
    font-size: 14px;
    min-width: 240px;
    padding: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
tr:nth-of-type(odd) {
    background: #474F58;
    color: #eee;
}
tr:nth-of-type(even) {
    color: #eee;
}
td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background: #333;
    color: white;
    font-weight: bold;
    text-align: center;
}

td.blank{
    background-color: #ff6666;
    color: black;
}

.results{
    width:100%;
}

.results-area{
    width:100%;
    display: contents;
}

.results-table{
    width:100%;
    display: table;
}

.border-background{
    border:2px #1f2833 solid;
}

.button-toolbar{
    width: 33%;
    font-size:16px;
    display:inline-block;
    margin-bottom: 16px;
    background-color: #45a29e;
    border:2px #1f2833 solid;
    align-items: center;
    justify-content: center;
    font-family: Courier;
    height: 32px;
    min-height: 32px;
    cursor: pointer;
}

.button-toolbar:hover{
    background-color: #25504c;
    color: white;

}

.red{
    background-color: red;
    color: black;
    text-align: center;
}
.green{
    background-color: green;
    color: black;
    text-align: center;
}

/*
* Success Page
 */

.Success{
    width: 80%;
    min-height: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.phase{
    min-height: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success-icon{
    margin:50px;
    width: 300px;
}
.success-title{
    color:white;
    font-size: 24px;
}

.success-id{
    color:red;
    font-size: 32px;
}
.success-body{
    margin: 8px;
    color:white;
    font-size: 16px;
    text-align: center;
}
.success-time{
    color:gray;
    font-size: 16px;
}

.success__button{
    margin-top: 16px;
}

.success__input{
    font-size: .8em;
    width: calc(50% - 176px);
    padding: 8px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.textbox > textarea{
    width: 100%;
    font-size: 16px;
    font-family: Courier, serif;
    background-color: #1f2833;
    color: #c5c6c7;
    padding: 8px;
    border: 2px solid #45a29e;
    resize: none;
}



@media only screen and (max-width: 900px){
    .home{
        width:100%;
    }
    .free-text{
        width: 100%;
    }
    .free-text__label{
        border-radius: 0;
    }
    .free-text__input{
        border-radius: 0;
    }
    .width-60{
        width: 100%;
    }
    .width-80{
        width: 100%;
    }
    h1{
        margin-top: 5%;
        color: #c5c6c7;
        font-size: 2em;
    }
    .survey-name{
        margin-bottom: 16px;
        font-size: 1.4em;
        color: #45a29e;
    }
    .border-bottom{
        border-radius:0;
    }
    .border-bottom-left{
        border-radius:0;
    }
    .border-bottom-right{
        border-radius:0;
    }
    .choice-name{
        border-radius:0;
    }
    .select-list select{
        border-radius: 0;
    }
    .scale{
        display: block
    }
    .success-icon{
        margin:50px;
        width: 200px;
    }
    .success__input{
        width:60%;
    }
    .matrix-desktop{
        display: none;
    }
    .matrix-mobile{
        display: block;
    }
}